* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 500px;
  margin: 30px auto;
}

form input {
  margin-bottom: 10px;
}

.form-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.three-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
}

form input[type="button"] {
  width: 120px;
}
